@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 180, 180) darkgray;
}
body {
  background-color: #18181b; /* código do bg-zinc-900 */
  color: #fafafa; /* texto zinco 50 */
  height: 200vh;
}

/* Components */
/* Menu btn */
.menu-btn {
  @apply w-10 h10 grid place-items-center bg-zinc-50/10
rounded-xl ring-inset ring-1;
}
